body {
    /* partes fundamentais da página, como imagem de fundo, fonte, forma de centralização */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url("bg.jpg");
    
}
/* header no topo da página */
header {
    background-color: #e98161;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 40px;
}
/* configurações da distribuição de contéudo no header */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    
}

nav a:hover {
    color: #ddd;
}

h2 {
    color: #ff0000;
    margin-bottom: 15px;
}
/* configuração da  caixa de texto */
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.apresentacao {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    text-align: center;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #333;
}

/* configuração da imagem */
.imgproduto {
    flex: 1;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

/* configuração da caixa de texto da parte de produtos */
.produtos h2 {
    color: #6cb865;
    margin-bottom: 10px;
}

.produtos img {
    max-width: 50%;
    height: 100px;
    margin-bottom: 15px;
}
/* configuração do texto de preço */
.preco {
    font-weight: bold;
    color: #e5564d;
    font-size: 1.2em;
    margin-top: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}